.seat{
  cursor: pointer !important;
  width: 50px;
  height: 50px;
  color: rgba(0, 0, 0, 0.87);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-width: 5px;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  box-sizing: border-box;
  padding: 10px;
  animation: fill 0.5s linear;
  -webkit-animation: fill 0.5s linear;
  fill: white;
  background: #53a353;
  transition: 0.5s;
}

.save-button{
  top: 10px;
  right: 100px;
  z-index: 1000;
  float: right;
  position: absolute;
}

.seat:hover{
  background: #0099CC;
  border-color: #0099CC;
  fill: white;
    filter:brightness(85%);
}

.seat:hover svg, .seat svg{
  transition: none;
}

@keyframes fill {
   0%{border-color: #c2c3c2 #c2c3c2 #c2c3c2 #c2c3c2;}
  25%{border-color: #2bf22b #c2c3c2 #c2c3c2 #c2c3c2;}
}

.content {
  display: inline-block;
  margin: 0 auto;
}

.match_Level_0{
  border-color: #c2c3c2 #c2c3c2 #c2c3c2 #c2c3c2;
  animation: none;
  -webkit-animation: none;
}

.match_Level_20{
  border-color: #c2c3c2 #2bf22b #c2c3c2 #c2c3c2;
}

.match_Level_40{
  border-color: #c2c3c2 #2bf22b #2bf22b #c2c3c2;
  cursor: pointer;
}

.match_Level_60{
  border-color: #c2c3c2 #2bf22b #2bf22b #2bf22b;
  cursor: pointer;

}

.match_Level_80{
  border-color: #2bf22b #2bf22b #2bf22b #2bf22b;
  cursor: pointer;
}

.match_Level_90{
  border-radius: 50%;
  border-color: #2bf22b #2bf22b #2bf22b #2bf22b;
  cursor: pointer;
  color: #ffffff;
}

.unavailable , .unavailable:hover{
  animation: none;
  -webkit-animation: none;
  cursor: no-drop;
  background: orange;
  border-color: orange;
  fill: #ededed;
}

.selected-seat{
  cursor: pointer;
  background: #ffff00;
  border-color: #ffff00;
  fill: black;
}

svg{
  transition: 0.75s;
  height: 30px;
  border-radius: 50%;
  background: inherit;
}


.selected-seat:hover{
  /*transition: inherit;*/
  background: #ffff00;
  border-color: #ffff00;
  fill: black;
}

.seat-bidding{
  position: relative;
  width: 800px;
  height: 500px;
}
