
<button mat-button class="btn btn-primary save-button" (click)="save()">Save</button>
<div class="seat-bidding">
  <ng-template #popContent>{{popContent}}</ng-template>
  <ng-template #popTitle>{{popTitle}}</ng-template>
  <div
    class="seat btn btn-outline-secondary mr-2"
    placement="auto"
    triggers="mouseenter:mouseleave"
    [ngbPopover]="popContent"
    [popoverTitle]="popTitle"
    *ngFor="let seat of seats; let i = index"
    ngClass="{{seat.class}}"
    [ngStyle]="{
      'top.px': seat.position.y,
      'left.px': seat.position.x
    }"
    (mouseenter)="changePopContent(seat)"
    (click)="selectSeat(seat)">
    <span>{{seat.id}}</span>
  </div>
</div>
