.seat{
  width: 50px;
  height: 50px;
  color: rgba(0, 0, 0, 0.87);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 4px;
  position: absolute;
  z-index: 1;
  box-sizing: border-box;
  padding: 10px;
  animation: fill 2s;
  -webkit-animation-name: fill;
  -webkit-animation-duration: 2s;

}

.seat:hover{
    filter:brightness(85%);
}

@keyframes fill {
   from{
     background-color: white;
   }
}

.content {
  display: inline-block;
  margin: 0 auto;
}

.match_Level_20{
  cursor: pointer;
  background: #ccffdd;
}

.match_Level_40{
  cursor: pointer;
  background: #66ff99;
}

.match_Level_60{
  cursor: pointer;
  background: #1aff66;
}

.match_Level_80{
  cursor: pointer;
  background: #00cc44;
}

.match_Level_90{
  cursor: pointer;
  background: #006622;
  color: #ffffff;
}

.unavailable{
  background: #9e9e9e;
  pointer-events: none;
}

.selected-seat{
  cursor: pointer;
  background: #ffff00;
}

.seat-bidding{
  position: relative;
  width: 1400px;
  height: 1400px;
}
