<ng-template #popContent>Hello, <b>Vital</b>!</ng-template>
<ng-template #popTitle>Fancy <b>content!!</b></ng-template>
<div class="seat-bidding">
  <div
    class="seat btn btn-outline-secondary mr-2"
    placement="auto"
    triggers="mouseenter:mouseleave"
    [ngbPopover]="popContent"
    [popoverTitle]="popTitle"
    *ngFor="let seat of seats; let i = index"
    ngClass="{{seat.class}}"
    [ngStyle]="{
      'top.px': seat.position.y,
      'left.px': seat.position.x
    }"
    (click)="selectSeat(seat)">
    <span>{{seat.matching && seat.matching+'%'}}</span>
  </div>
</div>
<button mat-button (click)="layoutService.save(seats)">Save</button>
