.seat-designer{
  position: relative;
  width: 800px;
  height: 500px;
}

.saveButton{
  top: 10px;
  right: 100px;
}

.addButton{
  top: 10px;
  right: 165px;
}

.clearButton{
  top: 10px;
  right: 230px;
}

button{
  z-index: 1000;
  margin: 5px;
  position: absolute;
}
