.seat{
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: black solid 1px;
  display: inline-block;
}

.match_Level_20{
  background: #ccffdd;
}

.match_Level_40{
  background: #66ff99;
}

.match_Level_60{
  background: #1aff66;
}

.match_Level_80{
  background: #00cc44;
}

.match_Level_90{
  background: #006622;
  color: #ffffff;
}

.unavailable{
  background: #9e9e9e;
}
