.seat{
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: black solid 3px;
  display: inline-block;
  text-align: center;
  font-size: 20px;
  vertical-align: middle;
  padding: 20px;
  margin: 5px;
  float: left;
  -webkit-animation-name: fill;
  -webkit-animation-duration: 2s;
}

@keyframes fill {
  from {background-color: #fff;}
}

.seat:hover {
  filter: brightness(85%);
}

.content {
  display: inline-block;
  margin: 0 auto;
}

.match_Level_20{
  background: #aaffa8;
}

.match_Level_40 {
  background: #66ff99;
}

.match_Level_60{
  background: #1aff66;
}

.match_Level_80{
  background: #00cc44;
}

.match_Level_90{
  background: #006622;
  color: #ffffff;
}

.unavailable{
  background: #dddddd;
}
